body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

/* Cadastro Section */
.cadastro-section {
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F8931F;
    border-radius: 15px;
}

.cadastro-container {
    width: 400px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cadastro-container h2 {
    color: #F8931F;
    font-size: 28px;
    margin-bottom: 10px;
}

/* Opções de Conta */
.options-container {
    display: flex;
    gap: 60px; /* Espaçamento entre os botões */
    justify-content: center;
    margin-bottom: 20px;
}

.option {
    text-align: center;
    padding: 10px;
    border: 2px solid #FFB700;
    border-radius: 8px;
    width: 100px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.option:hover {
    transform: scale(1.05);
}

.option img {
    width: 50px;
    height: 50px;
}

.option label {
    color: #F9A828;
    font-size: 18px;
    margin-top: 10px;
}

/* Campos de Formulário */
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form input[type="date"],
form select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.inline-inputs {
    display: flex;
    gap: 10px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #F8931F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #E67E22;
}

/* Campos específicos de "Tutor" */
form #nivelFormacao,
form #instituicaoFormacao,
form #curso {
    display: none; /* Oculto por padrão */
}

/* Responsividade */
@media (max-width: 768px) {
    .cadastro-section {
        padding: 20px;
    }

    .cadastro-container {
        width: 90%;
        padding: 30px;
    }

    .options-container {
        gap: 40px;
    }

    .option {
        width: 80px;
    }

    .option label {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .cadastro-container {
        width: 100%;
        padding: 20px;
    }

    .options-container {
        gap: 20px;
    }

    .option {
        width: 70px;
    }

    .option label {
        font-size: 14px;
    }
}

/* Imagem de Aluno ou Tutor */
.imagem-aluno {
    width: 70px;
    height: auto;
    position: relative;
    padding-top: 100px;
    left: 50px;
}

/* Galeria */
.kodfun-galeri {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.kodfun-galeri > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.kodfun-galeri > div:hover {
    flex: 5;
}
